.item.card
  .ui.segment
    .ui.ribbon.label {{character.name}}
    %a.star.ui.corner.label{"ng-show" => "character.type == '1'"}
      %i.star.icon

    .ui.center.aligned.vertical.segment
      %img.ui.circular.image{"ng-src" => "{{character.graphic}}"}
      .ui.horizontal.divider
        {{character.tags.length}} tags
      .ui.small.circular.labels
        .ui.label.normal{"ng-repeat" => "tag in character.tags",
          "ng-class" => "tagMatches(tag) ? selectedColor : ''",
          "ng-click" => "toggleTag(tag)"}
          {{tag}}
  .ui.bottom.attached.label{"ng-click" => "toggleSeries(character.series)",
    "ng-class" => "selectedSeries ? selectedColor : ''" }
    {{character.series}}

