.ui.segment
  .ui.ribbon.label {{character.name}}
  %a.star.ui.corner.label{"ng-show" => "character.type == '1'"}
    %i.star.icon
  %img.ui.medium.image{"src" => "{{character.graphic}}"}
  .ui.bottom.attached.label
    {{character.series}}
  .ui.small.circular.labels
    .ui.label.normal{"ng-repeat" => "tag in character.tags"}
      {{tag}}

